

/* making page neutral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* ----------------------------Top Nav-Bar-----------------------*/

/*first navigation bar*/
.wrapper .top_nav{
    width: 100%;
    height: 65px;
    background-color: white;
    padding: 0 50px;
    display: flex;                              /* sets stuff inline and spaces properly*/
    justify-content: space-between;
    align-items: center;
}

/*left part of first nav-bar*/
.wrapper .top_nav .left{
    display: flex;
    align-items: center;
}

.wrapper .top_nav .left .logo{
    color:black
}

.wrapper .top_nav .left ul{
    display: flex;
    padding: 10px;
    margin-left: 40px;
    letter-spacing: 3px;
}
.wrapper .top_nav .left ul li{
    margin:  0 20px;
}
.wrapper .top_nav .left ul li a{
    display: block;
    padding: 8px 10px;
    color: black;
}
.wrapper .top_nav .left ul li a:hover{
    color: #f8cc93;
}
.wrapper .top_nav .left ul li a:active{
    color: #f8cc93;
}

/* ---------------- Parts that appera on smaller screen--------------------*/
/*search that appears on small screen*/
.wrapper .top_nav .left .search{
    display: none;
    visibility: hidden;
}

/*hamburger button+ X button*/
.show-menu-button, .hide-menu-button{
    transition: 0.4s;
    font-size: 30px;
    color: burlywood;
    cursor: pointer;
   display: none;
}

.show-menu-button{
    right: 10%;
    position: absolute;}

.show-menu-button:hover,
.hide-menu-button:hover
{
     color: black;
 }
/* radio button to toggle functioning*/
 #chk{
     position: absolute;
     visibility: hidden;
     z-index: -111;   
 }
 /* -------------------------------------------------------*/

 /*right section of top nav bar*/
.wrapper .top_nav .right{
    display: flex;
    padding: 0 ;
}
.wrapper .top_nav .right .search_bar input[type="text"]{
    border: 1px solid #666;
    padding: 5px 10px;
    outline: none;
}

/* to increase size of search box on click */
.wrapper .top_nav .right .search_bar input[type="text"]:focus{
    width: 250px;
}
.wrapper .top_nav .right .button{
    margin-left: 2px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color:burlywood;
}
/* ----------------------End top Nav-Bar---------------*/

/* ----------------------Bottom Nav-Bar----------------*/
/* invisible on smaller screens*/
.bottom_nav{
    display: flex;
    align-items: center;
    background-color: rgb(12, 10, 10);
    color: whitesmoke;
    width: 100%;
    height: 50px;
    padding: 0 70px;
    justify-content: space-between;
}

.bottom_nav h3{
    letter-spacing: 3px;
    text-transform: capitalize;
}

.bottom_nav ul{
    display: flex;
}
.bottom_nav ul li a{
    display: block;
    color: whitesmoke;
    padding: 0;
    margin: 0 30px;
    letter-spacing: 3px;
}
.bottom_nav ul li a:hover{
    color:rgb(45, 201, 45) ;
}
.bottom_nav ul li a:active{
    color: rgb(45, 201, 45);
}
/* -------------------------- End Bottom Nav-Bar---------------*/



 /*Footer*/

 .footer{
    margin-top: 5%;
    padding: 5%  8%;
    background-color:#f8cc93;
    display: flex;
    justify-content: space-between;
}

.footer .footerlists {
    display: list-item;
    justify-content: unset;
    margin: 0;

}

.footer ul{
    background-color: transparent;
    display: flex;
    margin: 50px ;
    justify-content: space-between;
    list-style: none;
}
.footer ul li{
    background-color: burlywood;
    border-radius: 5%;
    padding: 10px;
    margin: 15px;
}



/* responsiveness*/
/*this section makes everything fit on smaller screens too*/
@media screen and (max-width: 1000px){


    .wrapper .bottom_nav{
        display: none;
        visibility: hidden;
    }

    .show-menu-button, .hide-menu-button {
        display: block;
    }

    
    .wrapper .top_nav .left .search {
        visibility: visible;
        display: inline;
    }

   

    .right .search_bar, .right .button{
        display: none;
        visibility: hidden;
    }
    
    .wrapper .top_nav .left ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: whitesmoke;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        display: list-item;
        transition: 0.7s;
        
    }

    .wrapper .top_nav .left ul li {
        align-content: center;
        padding: 20px;
        
    }
   

    
    #chk:checked ~  .left ul{
        right: 0;  
        z-index: 1;
    }
}